body{
	background-color: #efefef;
	padding-top: 0px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
}

h1{
	font-size: 52px;
	font-family: arial;
	font-weight: lighter;
	color: #000;
	text-align: center;
}


h2{
	font-size: 32px;
	font-family: arial;
	font-weight: bold;
	color: #000;
	border-top: 1px solid #cccccc;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}

footer{
	background-color: #ffffff;
	margin-top: 20px;
	padding-bottom: 40px;
	padding-top: 10px;
}

footer.full-width{
	padding-left: 0px;
	padding-right: 0px;
}

p{
	font-size: 14px;
	font-family: arial;
	font-weight: lighter;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;

}

p.footer{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

nav{
	font-size: 14px;
	font-family: arial;
	text-transform: uppercase;
	font-weight: lighter;
	padding: 10px;
	text-align: center;
}

img{
	opacity: .6;
	max-width: 33%;
}

img.main {
	background-color: #ffffff;
	max-width: 100%;
	padding: 10px;
	margin-top: 20px;
}

a:link	{
	color: #999999;
	text-decoration: none;
}

a:visited	{
	color: #999999;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

a:active	{
	color: #999999;
	text-decoration: none;
}

a:link.navigation	{
	color: #000;
	text-decoration: none;
}

a:visited.navigation	{
	color: #000;
	text-decoration: none;
}

a:hover.navigation {
	color: #666666;
	text-decoration: none;
}

a:active.navigation	{
	color: #000;
	text-decoration: none;
}

a:link.logo	{
	color: #000;
	text-decoration: none;
}

a:visited.logo	{
	color: #000;
	text-decoration: none;
}

a:hover.logo {
	color: #666666;
	text-decoration: none;
}

a:active.logo	{
	color: #000;
	text-decoration: none;
}