/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


@font-face {
    font-family: Open Sans; helvetica, arial, sans-serif;
    src: url(https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans);
}

/* Center the container */
#container {
  margin: 0 auto;
  width: 100%;
  background: #f0efef;
}

/* Layout Styles */

header{
	background-image: url(../assets/header_bg.jpg);
	background-size: cover;
	width:100%;
	height: 700px;
}

header h1{
	width: 100%; 
	text-align: left;
	padding-top: 40px;
}

header h2{
	width: 100%;
	text-align: center;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

.centered{
	position: relative;
	top:200px;
}

.cta{
	width: 100%;
	text-align: center;
	position: relative;
	top:260px;
}

footer {
	width: 100%;
}

section{
	width:100%;
}

.benefits{
	background: #f0efef;
	padding: 0px 0px 60px 0px;
}

.text_container{
	float:left;
	width: 60%;
	padding-top: 20px;
	padding-bottom: 60px;
}

.testimonial {
	background-image: url(../assets/testimonial_bg.jpg);
	background-size: cover;
	height: 394px;
	width: 100%;
	margin-bottom: -5px;
	clear: left;
}

.quote{
	position: relative;
	top:20%;
	width: 100%; 
	text-align: center;
	padding-left: 30%;
	padding-right: 30%;
}

/* Text Styles */
body{
	 font-family: Open Sans; helvetica, arial, sans-serif;
}

h1{
  font-size: 36px;
  color: #ffffff;
  font-weight: 900;
}

footer h1{
  color: #f9e42e;
  text-align: center;
}

header .button{
	background-color: #f9e42e;
	color: #033048;
}

h2{
	font-weight: 600;
	color: #ffffff;
	font-size: 2em;
}

h3{
	font-size: 1.75em;
	color: #033048;
	font-weight: 600;
	padding-top: 60px;
}

a{
	text-decoration: none;
}

ul{
	margin: 0 auto;
	padding-top: 20px;
	margin-left: 60px;
	list-style: disc;
}

li{
	font-size: 1.25em;
	color: #606161;
	font-weight: 300;
	line-height: 1.5em;
}


.benefits p{
	font-size: 1.25em;
	color: #606161;
	font-weight: 300;
	line-height: 1.25em;
}

.testimonial p{
	color: #fff;
	font-size: 1.75em;
	line-height: 1.5em;
	font-style: italic;
	font-weight: 200;
}

p span{
	font-style: normal;
	font-weight: 600;
	line-height: 1.75em;
}

.sign_up{
	background-color: #f9e42e;
	padding: 40px;
	text-align: center;
}

.button{
  background-color: #033048;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 3px;
}

.social{
  background-color: #121212;
  padding: 40px;
  margin: 0 auto;
}

.social p{
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.social_icons {
  margin: 0 auto;
  text-align: center;
}

.social_icons img {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}